<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
  <%- include('../partials/navbarAdmin') %> 

  <div class="dashboard-container mx-auto">

    <h1 class="red text-center action-title">ACTIONS CULTURELLES</h1>

    <div class="cultural-actions">
    <%- include('./cultural_actions') %> 

    <div class="separator col-12 my-5"></div>

      <div class="actions-list col-10 mx-auto mt-3">
      <% for (i=0; i< allActions.length; i++){ %>
        <div class="d-flex action-item ">
          <div class="col-2">
            <div class="red"><%= allActions[i].place%></div> <br/>
            <div><%= allActions[i].period%></div>
            <div> <%= allActions[i].city  %>  </div> <br/>
            <div><%= allActions[i].title  %>  </div>
          </div>
          <div class="col-6 description-list"><%= allActions[i].description%></div>
          <div class="col-3"> <img src="/images/compagnie.png" class="photo-list"  /> </div>
          <div class=" m-auto">
            <form action="/dashboard/delete-action" method="POST">
              <input type="hidden" name="id" value="<%= allActions[i].id%>"   />
            <button class="fas fa-trash-alt fa-2x red delete-button"></button>
            </form>
            <br/> <br/> 
            <a href="/dashboard/update-action?id=<%= allActions[i].id %> " ><i class="far fa-edit fa-2x ml-1 yellow"></i></a>
          </div>
        </div>
      <br/> <br/>
      <%}%>
    </div>

    </div>
  </div >

  <%- include('../partials/footer')%>
</body>
</html>