<html>
  <head>
    <meta charset='utf-8'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">  
    <title>Hoc Momento - Modifier l'action culturelle</title>
  </head>
  <body>
    <%- include('../partials/navbarAdmin') %> 
    <div class="made-container update-container">
      <h2 class="text-center action-title mb-5">Modifier l'action culturelle : <%= action.place %></h2>

      <form action="/dashboard/update-action" class="col-8 border p-3 mx-auto" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="id" value="<%= action.id %>" />
        <div class="form-group">
          <label>Lieu</label>
          <input type="text" class="made-form" value="<%= action.place %>" name="place">
        </div>
        <div class="form-group">
          <label>Genre</label>
          <input type="text" class="made-form" value="<%= action.title %>" name="title">
        </div>
        <div class="form-group">
          <label>Ville</label>
          <input type="text" class="made-form" value="<%= action.city %>" name="city">
        </div>
        <div class="form-group">
          <label>Période</label>
          <input type="text" class="made-form" value="<%= action.period %>" name="period">
        </div>
        <div class="form-group relative">
          <label>Description <i class="far fa-question-circle" id="questionMark"></i></label>
          <textarea class="made-form" value="<%=action.description%>" name="description"> <%= action.description %> </textarea>
          <div class="legend-div close" id="legend">
            <ul class="legend"> 
              <li>Paragraphe: &lt;p class="aactions-desc"&gt; Texte &lt;/p&gt;</li>
              <li>Retour à la ligne: &lt;br/&gt;</li>
              <li>Sauter une la ligne: &lt;br/&gt;&lt;br/&gt;</li>
              <li>Liste:  <br/>
                &lt;ul class="aactions-desc"&gt; <br/>
                &lt;li&gt; Ligne1 &lt;/li&gt; <br/>
                &lt;li&gt; Ligne2 &lt;/li&gt;<br/>
                &lt;li&gt; ... &lt;/li&gt;<br/>
                &lt;/ul&gt; </li>
              <li>Italic: &lt;em&gt; <em> Italic </em> &lt;/em&gt; </li>
              <li>Gras:  &lt;strong&gt;<span class="bold"> En gras </span> &lt;/strong&gt;</li>
            </ul>
          </div>
        </div>
        <label>Liens</label>
        <div class="form-group" id="linkField">
          <div class="col-12 d-flex link-div">
          <% for (let i=0; i<action.links.length; i++) {%>
            <div class="col-2"><%= action.links[i].type %>  </div>
            <div class="col-4"> <a href="<%= action.links[i].link %>"><%- action.links[i].name  %></a> </div>
            <div class=" col-5"><%= action.links[i].link %>  </div>
            <div class="col-1"><i class="fas fa-minus"></i></div>
          <% } %>  
        </div>
          <div class="col-12 d-flex link-div">
            <div class="col-2">
              <select name="type">
                <option value="pdf">PDF</option>
                <option value="article">Article</option>
                <option value="video">Vidéo</option>
              </select>
            </div>
            <div class="col-4">
              <input type="text" class="made-form" placeholder="Nom de l'article" name="nameLink"/>
            </div> 
            <div class="col-5">
              <input type="text" class="made-form" placeholder="Lien" name="link"/>
            </div>
            <div class="col-1"><i class="fas fa-plus" id="addField"></i></div>
          </div>
        </div>
        
        <div class="form-group">
          <label>Photo principale</label><br/>
          <input type="file" name="image"/>
        </div>

        <div class="form-group d-flex">
          <div class="fifty">
            <label>Partenaires</label>
            <div class="partners-scroll">
            <% for (let i=0; i < allPartners.length; i++) {%> 
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="<%= allPartners[i].id %>" name="partners_id">
                <label class="form-check-label">
                  <%= allPartners[i].name  %>
                </label>
              </div>
            <% } %> 
            </div>
          </div>
      
          <div class="fifty">
            <label>Soutiens</label>
            <div class="partners-scroll">
            <% for (let i=0; i < allSupports.length; i++) {%> 
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="<%= allSupports[i].id %>" name="support_id">
                <label class="form-check-label">
                  <%= allSupports[i].name  %>
                </label>
              </div>
            <% } %> 
            </div>
          </div>
      
        </div>
        <div class="button-container mt-5">
          <a href="/dashboard/actions" ><button class="btn btn-secondary text-white action-button">Annuler</button></a>
          <button type="submit" class="btn btn-warning text-white action-button">Modifier </button>
        </div>
      </form>
    </div>
    <%- include('../partials/footer') %>
    <script src="/javascripts/script5.js"></script>
  </body>
</html>