<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <title>Hoc Momento - Agenda</title>
</head>
<body>
  <%- include('../partials/navbarAdmin') %> 

  <div class="dashboard-container mx-auto">
    <img src="/images/agenda1.jpg"  class="small-banner-photo" />
    <div class="small-banner">
      <h1 class="small-banner-title black">AGENDA</h1>
    </div>

    <div class="cultural-actions">
    <%- include('./create-event') %> 

      <div class="separator col-12"></div>

      <% if (allEvents.length != 0) {%> 
      <div class="actions-list col-10 mx-auto relative" id="actions-list">
          <% for (i=0; i< allEvents.length; i++){ %>
            <div class="d-flex action-item ">
              <div class="col-2">
                <div class="red"><%= allEvents[i].title%></div> <br/>
                <div><%= allEvents[i].period%></div>
                <div> <%= allEvents[i].city  %>  </div> <br/>
                <div><%= allEvents[i].place  %>  </div>
                <div><%= allEvents[i].type %> </div> <br/>
                <% if (allEvents[i].startDate != null) { %> 
                  <div> Du <%= allEvents[i].startDate.getDate() %>/<%= allEvents[i].startDate.getMonth()+1%>/<%= allEvents[i].startDate.getFullYear()%></div>
                <%  } else{ %>
                  Pas de date de début <br/>
                <% } %> 
                <% if (allEvents[i].endDate != null) {%> 
                  <div> Au <%= allEvents[i].endDate.getDate() %>/<%= allEvents[i].endDate.getMonth()+1%>/<%= allEvents[i].endDate.getFullYear()%></div>
                  <%  } else{ %>
                    Pas de date de fin
                  <% } %>               </div>
              <div class="col-6 description-list"><%= allEvents[i].description%></div>
              <div class="col-3"> <img src="<%=allEvents[i].photo %>" class="photo-list"  /> </div>
              <div class="m-auto icon-column-agenda">
                <form action="/dashboard/delete-event" method="POST">
                  <input type="hidden" name="id" value="<%= allEvents[i].id%>"   />
                <button class="fas fa-trash-alt fa-2x red delete-button" title="Supprimer cet événement"></button>
                </form>
                <a href="/dashboard/update-event?id=<%= allEvents[i].id %> " ><i class="far fa-edit fa-2x ml-1 yellow" title="Modifier"></i></a>
              </div>
            </div>
          <br/> <br/>
          <div class="separator col-12 my-5"></div>
    
          <%}%>
      </div>
    <% } %> 
    </div>
  </div >
  <%- include('../partials/footer') %>
</body>
</html>