<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <title>Hoc Momento - Messages</title>
</head>
<body>
  <%- include('../partials/navbarAdmin') %> 
  <div class="dashboard-container mx-auto">
    <img src="/images/messages.jpeg"  class="small-banner-photo" />
    <div class="small-banner">
      <h1 class="small-banner-title black">MESSAGES</h1>
    </div>
    
    <div class="messages-container">
      <% for(i=0; i<allMessages.length; i++){ %>
        <% if (allMessages[i].read === false) {%> 
          <div class="message-container">
            <div class="card">
              <div class="card-header bg-dark text-white message-header"><h5 >De <%= allMessages[i].name %> <span class="card-date"><%= allMessages[i].date.getDate()%>/ <%= allMessages[i].date.getMonth()%> / <%= allMessages[i].date.getFullYear()%> </span> </h5></div>
              <div class="card-body">
                <h5 class="card-title"> <span class="red font-weight-bold"><%= allMessages[i].organisation %> </span>- <%= allMessages[i].email %> </h5>
                <p class="message-text"> <%= allMessages[i].content %> </p>
                <div class="message-buttons"><a href="/dashboard/read-message?id=<%= allMessages[i].id%> " class="btn btn-dark">Marqué comme lu</a> <a href="mailto:<%= allMessages[i].email %> " class="btn btn-warning" >Répondre</a></div>
              </div>
            </div>
          </div>
        <% } else if (allMessages[i].read === true) {%> 
          <div class="message-container">
            <div class="card read-card">
              <div class="card-header message-header"><h5 >De <%= allMessages[i].name %> <span class="card-date"><%= allMessages[i].date.getDate()%>/ <%= allMessages[i].date.getMonth()%> / <%= allMessages[i].date.getFullYear()%> </span> </h5></div>
              <div class="card-body">
                <h5 class="card-title card-title-read"> <span class="red"><%= allMessages[i].organisation %> </span>- <%= allMessages[i].email %> </h5>
                <p class="message-text"> <%= allMessages[i].content %> </p>
                <div class="message-buttons"><a href="/dashboard/unread-message?id=<%= allMessages[i].id%> " class="btn btn-outline-dark">Marqué comme non-lu</a> </div>
              </div>
            </div>
          </div>
        <% } %> 
      <% } %> 
    </div>
  </div>
  <%- include('../partials/footer')%>
</body>
</html>