<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
  <%- include('../partials/navbarAdmin') %> 

  <div class="dashboard-container mx-auto">

    <img src="/images/partners.jpeg"  class="aaction-banner-photo" />
    <div class="aaction-banner-shows">
      <h1 class="action-title white">PARTENAIRES</h1>
    </div>

    <div class="cultural-actions">
    <%- include('./create-partners') %> 

    <div class="separator col-12"></div>
      <div class="partner-container relative">
        <% for ( let i= 0; i<allPartners.length; i++){ %>
          <div class="partner-card">
            <div class="partner-photo-div">
              <img src=<%= allPartners[i].photo %> class="partner-photo" id="partner-photo"/>
            </div>
            <div class="partner-infos">
              <p class="partner-name"><%= allPartners[i].name %> </p>
              <div class="partner-icons">
                <form action="/dashboard/delete-partner" method="POST" >
                  <input type="hidden" value="<%= allPartners[i].id %>" name="partner"/>
                  <button class="fas fa-trash-alt partner-icon delete-button transparent"></button>
                </form>
            </div>
            </div>
          </div>

          <div id="made-modal2">
            <span id="close-button">&times;</span>
            <div class="modal-content">
              <div class="mx-auto">
                <form action="/dashboard/update-partner" method="POST"  enctype="multipart/form-data">
                  <div class="form-control add-picture">
                    <div class="event-update-photo">  
                      <img src="/images/logo.png" class="event-photo"/>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        <% } %> 
      </div>
    </div>
  </div >

  <%- include('../partials/footer')%>
  <script src="/javascripts/script4.js" ></script>

</body>
</html>