<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <title>Hoc Momento - Partneraires</title>
</head>
<body>
  <%- include('../partials/navbarAdmin') %> 

  <div class="dashboard-container mx-auto">

    <img src="/images/partners.jpeg"  class="aaction-banner-photo" />
    <div class="aaction-banner-shows">
      <h1 class="action-title white">PARTENAIRES & SOUTIENS</h1>
    </div>

    <div class="cultural-actions">
      <h3 class="partner-title">Partenaires</h3>
    <%- include('./create-partners') %> 

    <div class="separator col-12"></div>
      <div class="partner-container relative">
        <% for ( let i= 0; i<allPartners.length; i++){ %>
          <div class="partner-card">
            <div class="partner-photo-div">
              <img src=<%= allPartners[i].photo %> class="partner-photo" id="partner-photo"/>
            </div>
            <div class="partner-infos">
              <p class="partner-name"><%= allPartners[i].name %> </p>
              <div class="partner-icons">
                <form action="/dashboard/delete-partner" method="POST" >
                  <input type="hidden" value="<%= allPartners[i].id %>" name="partner"/>
                  <button class="fas fa-trash-alt partner-icon delete-button transparent"></button>
                </form>
            </div>
            </div>
          </div>
        <% } %> 
      </div>
    </div>
  </div >

  <div class="separator col-12"></div>

  <h3 class="partner-title">Soutiens</h3>
  <%- include('./create-support') %> 

    <div class="separator col-12"></div>
      <div class="partner-container relative">
        <% for ( let i= 0; i<allSupports.length; i++){ %>
          <div class="partner-card">
            <div class="partner-photo-div">
              <img src=<%= allSupports[i].photo %> class="partner-photo" id="partner-photo"/>
            </div>
            <div class="partner-infos">
              <p class="partner-name"><%= allSupports[i].name %> </p>
              <div class="partner-icons">
                <form action="/dashboard/delete-support" method="POST" >
                  <input type="hidden" value="<%= allSupports[i].id %>" name="support"/>
                  <button class="fas fa-trash-alt partner-icon delete-button transparent"></button>
                </form>
            </div>
            </div>
          </div>
        <% } %> 
      </div>
    </div>
  </div >



  <%- include('../partials/footer') %>
</body>
</html>