<html>
  <head>
    <meta charset='utf-8'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">  
  </head>
  <body>
    <%- include('../partials/navbarAdmin') %> 
    <div class="made-container update-container">
      <h2 class="text-center action-title mb-5">Modifier de profil de :<br/> <%= person.first_name %></h2>

      <form action="/dashboard/update-person" class="col-10 mx-auto mt-5" method="POST">
        <input type="hidden" name="id" value="<%= person.id %>" />
        <div class="form-group d-flex">
          <div class="fifty">
            <label>Prénom</label>
            <input type="text" class="made-form" value="<%= person.first_name %>" name="first_name">
          </div>
          <div class="fifty">
            <label>Nom de Famille</label>
            <input type="text" class="made-form" value="<%= person.last_name %>" name="last_name" />
          </div>
        </div>
        <div class="form-group d-flex">
          <div class="fifty" >
            <label>Rôle</label>
            <input type="text" class="made-form" value="<%= person.title %>" name="title">
          </div>
          <div class="fifty">
            <label>Email</label>
            <input type="text" class="made-form" value="<%= person.email %>" name="email">
          </div>
        </div>

        <div class="form-group hundred">
          <label>Description</label>
          <textarea class="made-form" value="<%= person.description %>" name="description"> </textarea>
        </div>
        <div class="hundred text-center">
          <button class="btn btn-warning action-button text-white"> Modifier</button>
        </div>
      </form>

    </div>
  </body>
</html>