<html>
  <head>
    <meta charset='utf-8'>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
  
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">  
  </head>
  <body>
    <%- include('../partials/navbarAdmin') %> 
    <div class="made-container update-container">
      <h2 class="text-center action-title mb-5">Modifier le spectacle : <%= show.title %></h2>
      <form action="/dashboard/update-show" class="col-8 border  p-3 mx-auto" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="id" value="<%= show.id %>" />
        <div class="form-group d-flex">
          <div class="col-6">
            <label>Titre</label>
              <input type="text" class="made-form" value="<%= show.title %>" name="title">
          </div >
          <div class="col-6">
            <label>Période</label>
            <div id="periodField">
              <div class="d-flex">
                <input type="text" class="made-form col-11" name="period" > 
                <i class="fas fa-plus col-1" id="addPeriodField" title="Ajouter une représentation"></i>
              </div>
            </div>
          </div>
        </div>
      
        <div class="form-group">
          <div>
            <div class="d-flex">
              <label class="col-6">Lieu</label>
              <label class="col-6">Ville</label>
            </div>
            <div class="col-12" id="placeField">
              <div class="d-flex">
                <div class="col-6">
                  <input type="text" class="made-form" name="place">
                </div>
                <div class="col-6 d-flex">
                  <input type="text" class="made-form col-11" name="city" >
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4">
            <label>Représentations:</label>
            <% for (let i=0; i<show.period.length;i++) {%>
                <div class="action-place-update">
                  <div data-period="<%= show.period[i] %>" data-place="<%= show.place[i] %>" data-city="<%= show.city[i] %>"><%= show.period[i] %>: <%= show.place[i] %>, <%= show.city[i] %> 
                  <i class="fas fa-minus delete-perf alinea" title="Supprimer la représentation"></i></div>
                </div>
            <% } %>  
          </div>
        </div>


        <div class="form-group col-12">
          <label>Description <i class="far fa-question-circle" id="questionMark" title="Clique"></i></label>
          <textarea class="made-form" value="<%= show.description %>" name="description"> <%= show.description %> </textarea>
          <div class="legend-div close" id="legend">
            <ul class="legend"> 
              <li>Paragraphe: &lt;p class="aactions-desc"&gt; Texte &lt;/p&gt;</li>
              <li>Retour à la ligne: &lt;br/&gt;</li>
              <li>Sauter une la ligne: &lt;br/&gt;&lt;br/&gt;</li>
              <li>Liste:  <br/>
                &lt;ul class="aactions-desc"&gt; <br/>
                &lt;li&gt; Ligne1 &lt;/li&gt; <br/>
                &lt;li&gt; Ligne2 &lt;/li&gt;<br/>
                &lt;li&gt; ... &lt;/li&gt;<br/>
                &lt;/ul&gt; </li>
              <li>Italic: &lt;em&gt; <em> Italic </em> &lt;/em&gt; </li>
              <li>Gras:  &lt;strong&gt;<span class="bold"> En gras </span> &lt;/strong&gt;</li>
            </ul>
          </div>
        </div>
        <label>Liens</label>
        <div class="form-group" id="linkField">
          <% for (let i=0; i<show.links.length; i++) {%>
            <div class="inputDiv">
              <div class="col-12 d-flex link-div">
                <div class="col-2"><%= show.links[i].type %>  </div>
                <div class="col-4"> <a href="<%= show.links[i].link %>"><%- show.links[i].name  %></a> </div>
                <div class=" col-5" data-link="<%= show.links[i].link %>"><%= show.links[i].link %></div>
                <i class="fas fa-minus delete-link"></i> 
              </div>
            </div>
          <% } %>  
          <div class="col-12 d-flex link-div">
            <div class="col-2">
              <select name="type">
                <option value="pdf">PDF</option>
                <option value="article">Article</option>
                <option value="video">Vidéo</option>
              </select>
            </div>
            <div class="col-4">
              <input type="text" class="made-form" placeholder="Nom de l'article" name="nameLink"/>
            </div> 
            <div class="col-5">
              <input type="text" class="made-form" placeholder="Lien" name="link"/>
            </div>
            <div class="col-1"><i class="fas fa-plus" id="addField"></i></div>
          </div>
        </div>

        <div class="form-group">
          <label>Photo principale</label><br/>
          <input type="file" name="image"/>
        </div>

        <div class="form-group d-flex">
          <div class="fifty">
            <label>Partenaires <i class="far fa-question-circle" title="Si rien n'est cliqué, l'information initiale sera conservée"></i></label>
            <div class="partners-scroll">
            <% for (let i=0; i < allPartners.length; i++) {%> 
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="<%= allPartners[i].id %>" name="partners_id">
                <label class="form-check-label">
                  <%= allPartners[i].name  %>
                </label>
              </div>
            <% } %> 
            </div>
          </div>
      
          <div class="fifty">
            <label>Soutiens</label>
            <div class="partners-scroll">
            <% for (let i=0; i < allSupports.length; i++) {%> 
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="<%= allSupports[i].id %>" name="support_id">
                <label class="form-check-label">
                  <%= allSupports[i].name  %>
                </label>
              </div>
            <% } %> 
            </div>
          </div>
        </div>

        <div class="button-container mt-5">
          <a href="/dashboard/shows" ><button class="btn btn-secondary text-white action-button">Annuler</button></a>
          <button type="submit" class="btn btn-warning text-white action-button">Modifier </button>
        </div>
      </form>
    </div>
    <%- include('../partials/footer') %>
    <script src="/javascripts/script5.js"></script>
  </body>
</html>