<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="manifest" href="/images/site.webmanifest">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <title>Hoc Momento - Équipe</title>
</head>
<body>
  <%- include('../partials/navbarAdmin') %> 

  <div class="dashboard-container mx-auto">
    <img src="/images/spectacle1.jpg"  class="small-banner-photo" />
    <div class="small-banner">
      <h1 class="small-banner-title black">ÉQUIPE</h1>
    </div>

    <div class="cultural-actions">
      <%- include('./create-person') %> 
    <div class="separator col-12"></div>

    <div class="actions-list col-10 mx-auto relative" id="ations-list">
      <% for (i=0; i< allPersons.length; i++){ %>
        <div class="d-flex action-item ">
          <div class="col-3">
            <div class="red"><%= allPersons[i].first_name%> <%= allPersons[i].last_name %> </div> <br/>
            <div><%= allPersons[i].title%></div> <br/>
            <div> <%= allPersons[i].email  %>  </div> <br/>
          </div>
          <div class="col-5 description-list"><%= allPersons[i].description%></div>
          <div class="col-3"> <img src="<%=allPersons[i].photo %>" class="photo-list"  /> </div>
          <div class="m-auto icon-column-agenda">
            <form action="/dashboard/delete-person" method="POST">
              <input type="hidden" name="id" value="<%= allPersons[i].id%>"   />
              <button class="fas fa-trash-alt fa-2x red delete-button" title="Supprimer la personne"></button>
            </form>
            <a href="/dashboard/update-person?id=<%= allPersons[i].id %>" title="Modifier la personne"><i class="far fa-edit fa-2x ml-1 yellow"></i></a>
          </div>
        </div>
      <br/> <br/>
      <div class="separator col-12 my-5"></div>
      <%}%>
    </div>
    </div>
  </div >
  
  <%- include('../partials/footer') %>
</body>
</html>
