<html>
  <head>
    <meta charset='utf-8'>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">  
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/style.css'>
    <title>Hoc Momento - Modifier la Gallerie Spectacle</title>
  </head>
  <body>
    <%- include('../partials/navbarAdmin') %> 
    <div class="button-container">
      <a href="/dashboard/shows" ><button class="btn btn-secondary text-white action-button">Retour</button></a>
    </div>

    <div class="container-gallery">
      <h2 class="gallery-title">Gallerie photos: <br/><strong><%= show.title %></strong></h2>
      <div class="photos-gallery">
        <% for (i=0; i<show.gallery.length; i++){ %>
          <div class="gallery-div">
            <a href="/dashboard/delete-photo-show?index=<%=i%>&show=<%=show.id%>" class="fas fa-trash-alt gallery-trash fa-3x black" title="Supprimer la photo"></a>
            <img src="<%=show.gallery[i]%>" class="photo-gallery" />
          </div>
        <% } %>
      </div>

      <form action="/dashboard/add-photo-show" method="POST" class="gallery-form" enctype="multipart/form-data">
        <div class="add-picture">  
          <label>Ajouter des photos</label> <br/>
          <input type="file" name="images" class="input-photos" multiple  />
          <input type="hidden" name="show" value="<%= show.id %>" />
          <button class="btn-outline-green"><i class="far fa-check-circle"></i></button>
        </div>
      </form>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html> 