<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/navbar') %> 
    <div class="made-container aactions-container">
        <% for (i=0; i< actions.length; i++) {%>
          <div class="aactions-img ">
            <div class="aactions-hover m-auto">
              <a href="/action-culturelle?id=<%=actions[i].id %>" class="white link-white">
                <p class="aactions-place pt-4"><%= actions[i].place %> </p>
                <p class="aactions-title"> <%= actions[i].title %></p>
                <p class="aactions-period"> <%= actions[i].period %> </p>
                <div class="aactions-logo">
                </div>
              </a>
            </div>
          </div>
        <% } %>     
    </div>
    <%- include('./partials/footer') %> 
  </body>
</html>
