<!DOCTYPE >
<html>
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
  
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.css" rel="stylesheet" />
    <title>Hoc Momento - Action culturelle, <%= action.place %> </title>
  </head>
  <body>
    <%- include('./partials/navbar') %> 
    <div class="relative">
      <img src=<%= action.photo %> class="small-banner-photo" alt="Hoc Momento et <%= action.place %> " />
      <div class="small-banner">
        <h1 class="aaction-place"> <%= action.place %></h1>
      </div>
    </div>
    
    <div class="relative">
      <div class="aaction-container">
        <div><%- action.description %></div>

      <div class="space"></div>

      <% if (action.links.length != 0 ) {%> 
        <h5 class="aaction-link-title">Liens: </h5>
        <% if (articles.length!=0) {%>
          <h5 class="alinea aaction-link-subtitle">Articles: </h5>
          <ul>
            <% for (let i=0; i<articles.length; i++) {%>
              <li class="aaction-link"><a href="<%= articles[i].link %>" class="black">  <%- articles[i].name %> </a></li>
            <% } %>  
          </ul>
        <% } %> 
        <% if (videos.length!=0) {%>
          <h5 class="alinea aaction-link-subtitle">Vidéos: </h5>
          <ul>
            <% for (let i=0; i<videos.length; i++) {%>
              <li class="aaction-link"><a href="<%= videos[i].link %>" class="black">  <%- videos[i].name %> </a></li>
            <% } %>  
          </ul>
        <% } %> 
        <% if (pdf.length!=0) {%>
          <h5 class="alinea aaction-link-subtitle">Vidéos: </h5>
          <ul>
            <% for (let i=0; i<pdf.length; i++) {%>
              <li class="aaction-link"><a href="<%= pdf[i].link %>" class="black">  <%- pdf[i].name %> </a></li>
            <% } %>  
          </ul>
        <% } %> 
      <% } %> 
          <br/><br/>
          
      <div class="aaction-partners-div">
        <h5 class="aaction-link-title">Soutiens: </h5>
        <div class="aaction-logo">
          <% for (let i=0; i<action.support.length; i++) {%>
            <div class="logo-partner-container">
              <a href="<%= action.support[i].link %> "><img src="<%= action.support[i].photo %>" class="logo-partner" alt="Soutiens d'Hoc Momento, <%= action.support[i].name %>" title=" <%= action.support[i].name %>" /></a>
            </div>
          <% } %> 
        </div>
      </div>
      <div class="aaction-partners-div">
        <h5 class="aaction-link-title">Partenaires: </h5>
        <div class="aaction-logo">
          <% for (let i=0; i<action.partners.length; i++) {%>
            <div class="logo-partner-container">
              <a href="<%= action.partners[i].link %> "><img src="<%= action.partners[i].photo %>" class="logo-partner" alt="Soutiens d'Hoc Momento, <%= action.partners[i].name %>" title=" <%= action.partners[i].name %>" /></a>
            </div>
          <% } %> 
        </div>
      </div>
    </div>

      <div class="slider-container">
        <div class="aaction-gallery-div">
          <a> <button class="gallery-button" id="gallery-button"> Gallerie </button></a>
        </div>
        <div class="slider">
          <% for (let i=0; i< action.gallery.length; i++) {%> 
            <div class="slide">
              <img src="<%= action.gallery[i] %>" class="slide-content" alt="Gallerie de l'action culturelle d'Hoc Momento à <%= action.place %> " />
            </div>
          <% } %> 
        </div>
      </div>

      <div class="aaction-modal" id="aaction-modal">
        <div class="relative">
          <i class="fas fa-times" id="close-icon"></i>
          <div id="wrap-carroussel">
            <ul class="carroussel">
              <% for (let i=0; i< action.gallery.length ; i++) {%>
              <li><img src="<%= action.gallery[i] %>" class="aaction-modal-photo"></li>
              <% } %> 
            </ul>
          </div>
        </div>
      </div>     
    </div>

  <%- include('./partials/footer') %>
  <script src="/javascripts/script3.js" ></script>
</body>
</html>
