<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
  
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Hoc Momento - Actions Culturelles</title>
  </head>
  <body>
    <%- include('./partials/navbar') %> 
    <div class="relative">
      <div class="aactions-banner-photo"></div>
      <div class="banner">
        <h1 class="banner-title white">ACTIONS CULTURELLES</h1>
        <div class="arroow down">
          <div class="arrow-top"></div>
          <div class="arrow-bottom"></div>
        </div>
      </div>
        <div class="aactions-text">
          <p class="aactions-desc">
            <span class="first-word">Caractérisée</span> par ses processus de création collective rassemblant amateurs et professionnels, <strong>Hoc
            Momento</strong> active des communautés éphémères pour habiter artistiquement des espaces publics
            désertés. En organisant les actions collectives de cette habitation par le biais de la pratique théâtrale in situ, Hoc
            Momento réhabilite l’espace public et le met en avant  comme moteur du développement culturel et comme levier de participation des populations à la
            fabrique de la ville.<br/><br/>
            <span class="first-word">Structurés</span> autour de résidences artistiques, les projets s’établissent dans la durée. Au-delà de la
            création de spectacles, ils incluent un ensemble d’actions territoriales visant à la réhabilitation ou à la
            reconversion des espaces investis. Le temps de permanence dans le lieu de création permet aux
            artistes de la compagnie de s’immerger dans le territoire et de regarder autrement le contexte
            socioculturel. Menées de façon immersive et avec malléabilité, les résidences proposées par la
            compagnie cherchent à rester au plus proche des populations en conduisant l’art théâtral à la
            rencontre des publics nouveaux.<br/><br/>
            <span class="first-word">Par</span> le principe collaboratif, ce travail souhaite valoriser la création de lieux culturels et renforcer la
            pratique artistique locale, tout en favorisant le développement territorial. Divers ateliers artistiques
            (théâtre, musique, construction de décor) sont proposés en direction des établissements scolaires,
            des structures associatives et sociales, des universités ou des laboratoires de recherche. L’enjeu est
            de tisser un maillage territorial entre institutions labellisées et petites associations, de favoriser les
            rencontres intergénérationnelles et la mixité sociale.<br/><br/>
            <span class="first-word">Le</span> rôle de l’artiste est pensé comme celui d’un créateur mais aussi comme un passeur, un tricoteur
            de liens avec d’autres cultures, d’autres disciplines, d’autres imaginaires. Car si le contexte influence
            la création, l’enjeu est aussi de se demander comment la création peut transformer le contexte. La
            rencontre entre l’artiste et les populations vient ainsi questionner la dimension structurelle que l’art
            et la culture portent au développement du territoire.<br/><br/>
            <span class="first-word"> <strong>Hoc Momento</strong></span> veut dépasser la séparation entre théâtre d’art et théâtre militant, ramener le théâtre
            au public et, tout en conservant une grande exigence artistique, s’émanciper des formes théâtrales
            élitistes et, parfois, excluantes.
          </p>
      </div>
      <div class="made-container aactions-container">
        <% for (i=0; i< actions.length; i++) {%>
          <a href="/action-culturelle?id=<%=actions[i].id %>" class="aactions-img white link-white">
              <img src="<%= actions[i].photo %>" class="big-img" alt="Hoc Momento et <%= actions[i].place %> " />
              <div class="aactions-hover">
                <p class="aactions-place"><%= actions[i].place %> </p>
                <p class="aactions-title"> <%= actions[i].city %></p>
                <p class="aactions-period"> <%= actions[i].period %> </p>
              </div>
          </a>
        <% } %>     
      </div>
    </div>
    <%- include('./partials/footer'); %> 
  </body>
</html>

