
<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Hoc Momento - Spectacles</title>
  </head>
  <body>
    <div class="aaction-big-container">
    <%- include('./partials/navbar') %> 
    <div class="made-container aactions-container">
        <% for (i=0; i< shows.length; i++) {%>
          <a href="/spectacle?id=<%=shows[i].id %>" class="white link-white aactions-img">
            <img src="<%= shows[i].photo %>" class="big-img" alt="Hoc Momento et <%= shows[i].title %> "/>
            <div class="shows-hover">
              <p class="shows-place"><em><%= shows[i].title %> </em></p>
              <p class="shows-title"> <%= shows[i].place %> - <%= shows[i].period %> </p>
              <p class="shows-desc"> <%= shows[i].description %> </p>
            </div>
          </a>
        <% } %> 
    </div>
    <%- include('./partials/footer'); %> 
    </div>
  </body>
</html>