<!DOCTYPE html>
<html>
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/images/site.webmanifest">
  
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <title>Hoc Momento - Équipe</title>
  </head>
  <body>
    <%- include('./partials/navbar') %> 
    <div class="relative">
      <div class="team-banner-photo"></div>
      <div class="banner">
        <h1 class="banner-title white">L'ÉQUIPE</h1>
        <div class="arroow down">
          <div class="arrow-top"></div>
          <div class="arrow-bottom"></div>
        </div>
      </div>
      
      <div class="made-container team-container">
        <% for (let i=0; i<allPersons.length ; i++){ %>
          <div class="team-big-card team-card-left" id="team-card<%=i%>">
              <img src=<%= allPersons[i].photo %> class="team-img" id="team-img<%=i%>" title="Clique !" alt="<%= allPersons[i].first_name %> <%= allPersons[i].last_name %>, <%= allPersons[i].title %> dans la compagnie Hoc Momento." />   
              <div class="team-infos">
                <p class="team-name"><%= allPersons[i].first_name %> <%= allPersons[i].last_name %></p>
                <p class="team-title"><%= allPersons[i].title %> </p>
                <p class="team-desc"><%= allPersons[i].description %> </p>
                <a href="mailto:<%= allPersons[i].email %>" class="white no-deco"><i class="fas fa-envelope"></i> <%= allPersons[i].email %> </a>
            </div>
          </div>
        <% } %> 
      </div>
    </div>
    <%- include('./partials/footer') %> 
      <script src="/javascripts/script2.js"></script>
  </body>
</html>
